grpcio==1.68.0
grpcio-tools==1.68.0
gurobipy>=3.7.5
joblib>=1.4.0
matplotlib==3.10.8
networkx==2.8.5
numpy==2.2.1
protobuf==5.29.3
scipy>=1.10.0
seaborn==0.11.2
tqdm==4.66.4
sympy>=1.13.1
ortools>=9.12.4544
jsonargparse==4.43.0
dotenv==0.9.9
