# When running this on SPHERE, this ENV file needs to be present and updated
# with appropriate values.
# This is a template; the value for the Git access token needs to be filled
# separately (and obviously, kept out of commits!).
# The username for accessing the SPHERE project
SPHERE_USER=aghavidel
SPHERE_HOME=/home/aghavidel/DistributedTE
VENV_HOME=/home/aghavidel/.distte_venv

# Access token for the git repo.
# Remember to fill this!
GIT_ACCESS_TOKEN=

# The GIT branch to use
GIT_BRANCH=two-phase

# The service file for the worker nodes
SERVICE_FILE=ansible/distributed_admm/te_worker.service
LAUNCH_FILE=ansible/distributed_admm/launch_worker.sh

# Set to `1` to enable multicast (assuming `smcroute` has already been set up)
TE_MULTICAST=0

# Indicates the particular remote worker to spawn
SOLVER_TYPE="edge-sync"
